/* استایل‌های سراسری */
body {
  background-color: #43474f;
  font-family: 'Arial', sans-serif;
  }
  
  /* استایل‌های هدر */
  .header {
  background-color: #36393F;
  color: #FFFFFF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
  margin-right: 10px;
  font-weight: bold;
  }
  
  .room {
  flex-grow: 1;
  text-align: center;
  }
  
  .room-name {
  font-size: 18px;
  }
  
  /* استایل‌های نوار کناری */
  .sidebar {
  background-color: #36393f;
  color: #FFFFFF;
  position: fixed;
  top: 80px;
  bottom: 10px;
  left: 20px;
  width: 200px;
  height: 87.5vh;
  border-radius: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  }
  
  .sidebar .menu ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
  }
  
  .sidebar .menu ul li {
  margin-bottom: 10px;
  }
  
  .sidebar .menu ul li a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  }
  
  .sidebar .menu ul li a .profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  }
  
  .sidebar .menu ul li a span {
  margin-left: 5px;
  font-size: 14px;
  color: #ffffff;
  }
  
  .sidebar .menu ul li .username {
  position: fixed;
  bottom: 60px;
  }
  
  .sidebar .menu ul li .username::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #7289DA;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  }
  
  .sidebar .menu ul li .username:hover::after {
  opacity: 1;
  }
  
  .sidebar .menu ul li a.logout {
  display: flex;
  position: fixed;
  align-items: center;
  color: #FFFFFF;
  bottom: 30px;
  text-decoration: none;
  }
  
  .sidebar .menu ul li a.logout ::after
  {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #7289DA;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  }
  .sidebar .menu ul li a.logout:hover::after
  {
  opacity: 1;
  }
  .sidebar .menu ul li a.logout span {
  margin-left: 5px;
  font-size: 14px;
  color: #FFFF00;
  }
  
  /* استایل‌های تماس ویدیویی */
  .video-call {
  position: fixed;
  height: 80vh;
  top: 80px;
  right: 20px;
  left: 230px;
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* استایل‌های پانویس */
  .copy-right {
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  color: #FFFFFF;
  font-size: 12px;
  display: flex;
  justify-content: center;
  }
  
  /* استایل‌های انیمیشن بارگذاری */
  #loading-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 9999;
  }
  
  .spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #FFFFFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  }
  
  .logo img {
  width: 35px;
  height: auto;
  }
  
  @keyframes spin {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
  }
  
  /* استایل‌های انیمیشن */
  .animate-on-scroll {
  opacity: 0;
  }
  
  .animate__animated.animate__fadeIn {
  animation: animate-fade-in 0.5s ease forwards;
  }
  
  @keyframes animate-fade-in {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
  }